:root {
  --veryperi: #6667ab;
  --light: #f1ede9;
  --dark: #38382d;
}

body {
  width: 100%;
  background-color: var(--light);
  color: var(--dark);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: inherit;
  align-items: center;
}
.header {
  width: 100%;
  color: var(--light);
  background-color: var(--veryperi);
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
.wrapper {
  border-color: #38382d;
  width: 375px;
  text-align: center;
}